<table
  class="body-wrap"
  style="
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    background-color: transparent;
    margin: 0;
  "
>
  <tbody>
    <tr
      style="
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        font-size: 14px;
        margin: 0;
      "
    >
      <td
        style="
          font-family: 'Roboto', sans-serif;
          box-sizing: border-box;
          font-size: 14px;
          vertical-align: top;
          margin: 0;
        "
        valign="top"
      ></td>
      <td
        class="container"
        width="600"
        style="
          font-family: 'Roboto', sans-serif;
          box-sizing: border-box;
          font-size: 14px;
          vertical-align: top;
          display: block !important;
          max-width: 600px !important;
          clear: both !important;
          margin: 0 auto;
        "
        valign="top"
      >
        <div
          class="content"
          style="
            font-family: 'Roboto', sans-serif;
            box-sizing: border-box;
            font-size: 14px;
            max-width: 600px;
            display: block;
            margin: 0 auto;
            padding: 20px;
          "
        >
          <table
            class="main"
            width="100%"
            cellpadding="0"
            cellspacing="0"
            itemprop="action"
            itemscope=""
            itemtype="http://schema.org/ConfirmAction"
            style="
              font-family: 'Roboto', sans-serif;
              box-sizing: border-box;
              font-size: 14px;
              border-radius: 3px;
              margin: 0;
              border: none;
            "
          >
            <tbody>
              <tr
                style="
                  font-family: 'Roboto', sans-serif;
                  font-size: 14px;
                  margin: 0;
                "
              >
                <td
                  class="content-wrap"
                  style="
                    font-family: 'Roboto', sans-serif;
                    box-sizing: border-box;
                    color: #495057;
                    font-size: 14px;
                    vertical-align: top;
                    margin: 0;
                    padding: 30px;
                    box-shadow: 0 3px 15px rgba(30, 32, 37, 0.06);
                    border-radius: 7px;
                    background-color: #fff;
                  "
                  valign="top"
                >
                  <meta
                    itemprop="name"
                    content="Confirm Email"
                    style="
                      font-family: 'Roboto', sans-serif;
                      box-sizing: border-box;
                      font-size: 14px;
                      margin: 0;
                    "
                  />
                  <table
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    style="
                      font-family: 'Roboto', sans-serif;
                      box-sizing: border-box;
                      font-size: 14px;
                      margin: 0;
                    "
                  >
                    <tbody>
                      <tr
                        style="
                          font-family: 'Roboto', sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          margin: 0;
                        "
                      >
                        <td
                          class="content-block"
                          style="
                            font-family: 'Roboto', sans-serif;
                            box-sizing: border-box;
                            font-size: 14px;
                            vertical-align: top;
                            margin: 0;
                            padding: 0 0 20px;
                          "
                          valign="top"
                        >
                          <div style="margin-bottom: 15px">
                            <img
                              src="<%= config.siteLogo %>"
                              alt="logo"
                              height="23"
                            />
                          </div>
                        </td>
                      </tr>
                      <tr
                        style="
                          font-family: 'Roboto', sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          margin: 0;
                        "
                      >
                        <td
                          class="content-block"
                          style="
                            font-family: 'Roboto', sans-serif;
                            box-sizing: border-box;
                            font-size: 20px;
                            line-height: 1.5;
                            font-weight: 500;
                            vertical-align: top;
                            margin: 0;
                            padding: 0 0 10px;
                          "
                          valign="top"
                        >
                          Hey, <%= name %>
                        </td>
                      </tr>
                      <tr
                        style="
                          font-family: 'Roboto', sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          margin: 0;
                        "
                      >
                        <td
                          class="content-block"
                          style="
                            font-family: 'Roboto', sans-serif;
                            color: #878a99;
                            box-sizing: border-box;
                            line-height: 1.5;
                            font-size: 15px;
                            vertical-align: top;
                            margin: 0;
                            padding: 0 0 10px;
                          "
                          valign="top"
                        >
                          Welcome to our crypto investment site! Our team of
                          experts provides the latest market insights and
                          investment strategies. We've designed our platform to
                          be user-friendly for investors of all levels. As a
                          member, you'll have access to real-time market data,
                          investment tools, and a dedicated support team. We're
                          committed to providing a seamless and secure
                          investment experience to help you achieve your
                          financial goals.
                        </td>
                      </tr>
                      <tr
                        style="
                          font-family: 'Roboto', sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          margin: 0;
                        "
                      >
                        <td
                          class="content-block"
                          style="
                            font-family: 'Roboto', sans-serif;
                            color: #878a99;
                            box-sizing: border-box;
                            line-height: 1.5;
                            font-size: 15px;
                            vertical-align: top;
                            margin: 0;
                            padding: 0 0 24px;
                          "
                          valign="top"
                        >
                          Thank you for choosing our site as your trusted
                          partner in cryptocurrency investment. Let's work
                          together to build a successful investment portfolio.
                        </td>
                      </tr>
                      <tr
                        style="
                          font-family: 'Roboto', sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          margin: 0;
                        "
                      >
                        <td
                          class="content-block"
                          itemprop="handler"
                          itemscope=""
                          itemtype="http://schema.org/HttpActionHandler"
                          style="
                            font-family: 'Roboto', sans-serif;
                            box-sizing: border-box;
                            font-size: 14px;
                            vertical-align: top;
                            margin: 0;
                            padding: 0 0 24px;
                          "
                          valign="top"
                        >
                          <a
                            href="<%= btnLink %>"
                            data-link-replace="<%= btnLink %>"
                            itemprop="url"
                            style="
                              font-family: Roboto, sans-serif;
                              box-sizing: border-box;
                              font-size: 0.8125rem;
                              font-weight: 400;
                              color: rgb(255, 255, 255);
                              text-decoration: none;
                              text-align: center;
                              cursor: pointer;
                              display: inline-block;
                              border-radius: 0.25rem;
                              text-transform: capitalize;
                              background: rgb(10, 179, 156);
                              margin: 0px;
                              border-color: rgb(10, 179, 156);
                              border-style: solid;
                              border-width: 1px;
                              padding: 0.5rem 0.9rem;
                            "
                            onmouseover="this.style.background='#099885'"
                            onmouseout="this.style.background='#0ab39c'"
                            >Get Started</a
                          >
                        </td>
                      </tr>

                      <tr
                        style="
                          font-family: 'Roboto', sans-serif;
                          box-sizing: border-box;
                          font-size: 14px;
                          margin: 0;
                          border-top: 1px solid #e9ebec;
                        "
                      >
                        <td
                          class="content-block"
                          style="
                            font-family: 'Roboto', sans-serif;
                            box-sizing: border-box;
                            font-size: 14px;
                            vertical-align: top;
                            margin: 0;
                            padding: 0;
                            padding-top: 15px;
                          "
                          valign="top"
                        >
                          <div style="display: flex; align-items: center">
                            <img
                              src="assets/images/users/avatar-3.jpg"
                              alt="profile"
                              height="35"
                              width="35"
                              style="border-radius: 50px"
                            />
                            <div style="margin-left: 8px">
                              <span style="font-weight: 600"
                                ><%= siteName %> Bot</span
                              >
                              <p
                                style="
                                  font-size: 13px;
                                  margin-bottom: 0px;
                                  margin-top: 3px;
                                  color: #878a99;
                                "
                              >
                                Noreply
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
